/*
ELEMENTS
*/
#clock_time {
  font-size: 40;
  x: 245;
  y: 135;
}
#clock_ampm {
  x: 83%;
  y: 100;
  font-size: 18;
}

#date {
  x: 250;
  y: 155;
  font-size: 18;
}

#steps {
  x: 26;
  y: 22;
}
#steps_icon {
  x: 4;
  y: 5;
}

#hrm {
  x: 89%;
  y: 22;
}
#hrm_icon {
  x: 245;
  y: 5;
}

#battery {
  x: 22;
  y: 95%;
}
#battery_icon {
  x: 3;
  y: 90%;
}

/*
ICONS
*/
.icon {
  width: 18;
  height: 18;
}
